.container-fluid
  .row-fluid
    %p.span4 Team
    %p.span2 Gms
    %p.span2 Wins
    %p.span2 Loses
    %p.span2 Win %

  - (sorted_data_for teams).each do |team|
    .row-fluid
      %p.span4= link_to full_name_of(team), {:controller => :teams, :action => :show_team_record, :team_id => team.id}
      %p.span2= number_of_games_played_by team
      %p.span2= wins_of team
      %p.span2= loses_of team
      %p.span2= winning_percentage_of team
