%h2 Team Standings

%table#west_teams
  %tr
    %th Team
    %th GP
    %th W
    %th L
    %th W/L %
  - @west_teams.each do |west_team|
    %tr
      %td= full_name_of west_team
      %td= number_of_games_played_by west_team
      %td= wins_of west_team
      %td= loses_of west_team
      %td= winning_percentage_of west_team
    
%table#east_teams
  %tr
    %th Team
    %th W
    %th L
    %th W/L %
  - @east_teams.each do |east_team|
    %tr
      %td= full_name_of east_team
      %td= number_of_games_played_by east_team
      %td= wins_of east_team
      %td= loses_of east_team
      %td= winning_percentage_of east_team
