%h1 Listing players

%table
  %tr
    %th First name
    %th Last name
    %th Team
    %th Free agency
    %th Years
    %th Position
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.first_name
      %td= player.last_name
      %td= full_name_of Team.find(player.team_id)
      %td= player.free_agency
      %td= player.years
      %td= player.position
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)

%br

= link_to 'New Player', new_player_path
