%p#notice= notice

%p
  %b Position:
  = @player.position
%p
  %b First name:
  = @player.first_name
%p
  %b Last name:
  = @player.last_name
%p
  %b Rating
  = @player.rating
%p
  %b Jersey number:
  = @player.jersey_number
%p
  %b Free agency:
  = @player.free_agency
%p
  %b Team:
  = full_name_of Team.find @player.team_id

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
