%h1 Championship History

%table.table.table-bordered.table-striped
  %tr
    %th MVP
    %th Champion
    %th Year
    %th Runner-up
    %th Runner-up MVP
  - @championships.each do |championship|
    %tr
      %td= mvp_of_the championship
      %td= victor_in_the championship
      %td= year_of_the championship
      %td= runner_up_of_the championship
      %td= runner_up_mvp_in_the championship
