!!!
%html
  %head
    %title Jba
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span10
          = yield
        .span2
          %h1
            \ JBA
            = @user.current_year.to_s if @user
          %ul.nav.nav-stacked.nav-tabs
            %li= link_to 'Home', root_path
            %li= link_to 'Players', players_path
            %li= link_to 'Team Standings', teams_path
            %li= link_to 'Games', games_path
            %li= link_to 'Champions', champions_path
            %li= link_to 'Admin Page', admin_path
            %li= link_to 'Log out', logout_path
          - if flash[:notice]
            %p= flash[:notice]
