!!!
%html
  %head
    %title Jba
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to 'Home', root_path
    = link_to 'Players', players_path
    = link_to 'Team Standings', teams_path
    = link_to 'Games', games_path
    = link_to 'Champions', champions_path
    = link_to 'Admin Page', admin_path
    = link_to 'Log out', logout_path
    = yield
